<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Algolia Installed</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <div class="row justify-content-center">
                    <div class="col-sm-5 mt-5">
                        <div class="card">
                            <img src="https://res.cloudinary.com/hilnmyskv/image/upload/f_auto,q_auto,w_1455/v1627289678/Algolia_com_Website_assets/images/homepage/algolia-homepage-hero.png" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title text-center">Welcome to Algolia</h5>
                                <p class="card-text text-justify">
                                    Flexible Search & Discovery Hosted APIs.
                                    Algolia enables developers to build next generation apps
                                    with APIs that deliver relevant content in milliseconds.
                                </p>
                              <a href="#" class="btn btn-dark d-block">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
